Django==6.0.6
djangorestframework==3.17.1
django-filter==24.2
python-dotenv==1.0.1

# Production
gunicorn==23.0.0
whitenoise==6.9.0

# Dev / Testing
pytest==8.2.2
pytest-django==4.8.0
pytest-cov==5.0.0
